# APPLICATION

ENVIRONMENT=dev
LOG_LEVEL=DEBUG
JSON_LOGGING=false



# DATABASE

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/finexus

# EDGAR API
EDGAR_IDENTITY="Ton Nom ton.email@example.com"



# EMBEDDINGS

EMBEDDING_PROVIDER=openai
EMBEDDING_MODEL_NAME=text-embedding-3-small
EMBEDDING_DIMENSION=1536
EMBEDDING_API_KEY=your_openai_api_key_here
EMBEDDING_BASE_URL=


# LLM

LLM_PROVIDER=openai
LLM_MODEL_NAME=gpt-4o-mini
LLM_API_KEY=your_openai_api_key_here
LLM_BASE_URL=
LLM_TEMPERATURE=0.0


# OBSERVABILITY

OBSERVABILITY_PROVIDER=phoenix

# PHOENIX

PHOENIX_ENDPOINT=http://localhost:6060
PHOENIX_PROJECT_NAME=finexus


# LANGFUSE

LANGFUSE_HOST=https://cloud.langfuse.com
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
